
@import 'scss-lib/_common';

HTML, BODY {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('/assets/patterns/background.png');
}

A {
  text-shadow: #fff 0px 1px 0px;
}

HEADER, ARTICLE, FOOTER SECTION {
  margin: 0 auto;
  width: $page_width;
}

HEADER {
  NAV {
    H1 {
      font-family: Logo;
      font-size: 24px;
      line-height: normal;
      text-align: center;
      clear: both;
      padding: 10px;
      color: #c00;
      SUP {
        color: #999;
      }
    }
    UL {
      float: right;
      margin: 20px 0 0 0;
      LI {
        float: left;
        list-style: none outside none;
        margin: 0 25px;
        padding: 0;
      }
    }
  }
}

ARTICLE {
  min-height: 450px;
  #main {
    margin: 25px 0 0 0;
    #main-welcome {
      H1 {
        text-align: center;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        STRONG {
          color: #999;
        }
      }
      P {
        @include lead;
        text-align: right;
        margin: 0 50px 0 0;
      }
    }
  }
  .auth-box {
    width: 378px;
    margin: 0 auto;
    padding: 42px 0 32px;
    .well {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      border: none;
    }
    H2 {
      font-family: 'Pts Narrow Bold';
      line-height: 30px;
      margin-top: 0;
      text-align: center;
    }
    INPUT {
      font-size: 14px;
      font-weight: bold;
      padding: 8px 12px;
      width: 312px;
    }
    INPUT.btn {
      height: 32px;
      width: 338px;
      padding-top: 7px;
    }
  }
  #more_details {
    H2 {
      font-weight: 300;
      text-align: center;
    }
    P#subheading {
      @include lead;
      text-align: center;
      color: #999;
    }
    #invoices {
      #invoice_image {
        float: left;
        width: $page_width/2;
        text-align: center;
        #ipad_img {
          height: 200px;
        }
        #iphone_img {
          height: 120px;
          margin: 100px 0 0 -40px;
        }
      }
      #invoice_text {
        float: right;
        width: $page_width/2;
        H3 {
          margin-bottom: 20px;
          font-weight: 300;
          EM {
            color: #999;
          }
        }
      }
    }
  }
}

FOOTER {
  margin: 25px 0;
  SECTION {
    text-align: center;
  }
}


