
<%= form_for(@company_event, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

	<div id="error_explanation_company_event" class="alert alert-error">
		<strong></strong>
		<ul></ul>
	</div>

	<div class="row-fluid">
		<div class="control-group">
			<%= f.label :date, 'Date', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :date, :class => 'input-small required', :placeholder => 'Date',
				:value => (@company_event.date.strftime('%m-%Y') unless @company_event.date.nil?) %> 
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="control-group">
			<%= f.label :event_id, 'Event', :class => 'control-label' %>
			<div class="controls">
				<%= f.select :event_id, options_from_collection_for_select(Event.all, :id, :name, @company_event.event_id), 
						{:include_blank => "Choose an event"}, { :class => "input-xlarge"} %>
			</div>
		</div>
	</div>

	<div class="row-fluid" id="new_flat_rate">
		<div class="control-group input-append">
			<%= f.label :new_flat_rate, 'New Flat Rate', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :new_flat_rate, :class => 'input-mini', :placeholder => 'New Flat Rate', 
						:value => number_with_precision(@company_event.new_flat_rate,
							:precision => 2, :strip_insignificant_zeros => true) %>
				<span class="add-on required">%</span>
			</div>
		</div>
	</div>

	<div class="row-fluid" id="flat_rate_1">
		<div class="control-group input-append">
			<%= f.label :flat_rate_1, 'First Year', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :flat_rate_1, :class => 'input-mini', :placeholder => 'First Year', 
						:value => number_with_precision(@company_event.flat_rate_1,
							:precision => 2, :strip_insignificant_zeros => true) %>
				<span class="add-on required">%</span>
			</div>
		</div>
	</div>

	<div class="row-fluid" id="flat_rate_2">
		<div class="control-group input-append">
			<%= f.label :flat_rate_2, 'After First Year', :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :flat_rate_2, :class => 'input-mini', :placeholder => 'After First Year', 
						:value => number_with_precision(@company_event.flat_rate_2,
							:precision => 2, :strip_insignificant_zeros => true) %>
				<span class="add-on required">%</span>
			</div>
		</div>
	</div>
<% end %>

