$("#editModal").modal('show');

$("#editModal .modal-body").html("<%= j render :partial => 'form' %>");

$("#destroyCompanyEvent").replaceWith("<%= j link_to 'Delete', @company_event, :id => 'destroyCompanyEvent', :class => 'btn btn-action', :remote => true, :method => :delete %>");

var editModal = "#editModal ";
var new_flat_rate = "#new_flat_rate";
var flat_rate_1 = "#flat_rate_1";
var flat_rate_2 = "#flat_rate_2";

$(editModal + "#company_event_date").datepicker({
  format: "mm-yyyy",
  viewMode: "months",
  minViewMode: "months"
});

$(editModal + "#company_event_event_id").change(function(){
  // reset_optional_fields
  $(editModal + "#company_event_new_flat_rate").val(0);
  $(editModal + "#company_event_flat_rate_1").val(0);
  $(editModal + "#company_event_flat_rate_2").val(0);

  $('.input_error').removeClass('input_error');
  $(editModal + "#error_explanation_company_event").hide();

  var value_select = $(this).val();

  switch (value_select)
  {
    case '2':
      $(editModal + flat_rate_1).show();
      $(editModal + flat_rate_2).show();
      break;
    case '4':
      $(editModal + new_flat_rate).show();
      break;
    default:
      // hide_optional_fields
      $(editModal + new_flat_rate).hide();
      $(editModal + flat_rate_1).hide();
      $(editModal + flat_rate_2).hide();
  }
});

var event_id = <%= @company_event.event_id %>;
if(event_id === 2)
{
  $(editModal + flat_rate_1).show();
  $(editModal + flat_rate_2).show();
}
else if(event_id === 4)
{
  $(editModal + new_flat_rate).show();
}
