<% content_for :header do %>
	<%= stylesheet_link_tag 'application-company-events', :media => 'all' %>
	<%= stylesheet_link_tag "timeline", :media => "all" %>
	<%= javascript_include_tag "company_events" %>
	<script type="text/javascript">$(document).ready(function() { CompanyEventPage.start(); });	
	</script>
<% end %>

<%= link_to 'Add New Event', '#', :id => "add_event", :class => "btn btn-info" %>

<% if @company_event.errors.any? %>
	<div id="error_explanation" class="alert alert-error">
		<strong>Company Event saving failed because of <%= pluralize(@company_event.errors.count, "error") %>:</strong>
		<ul>
			<% @company_event.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<section id="company-event">
	<div id="newModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">New Event</h3>
		</div>
		<div class="modal-body">
			<%= render :partial => 'form' %>
		</div>
		<div class="modal-footer">
			<button id="submitCompanyEvent" type="submit" class="btn btn-action">Create</button>
			<small>
				<em>or</em>
				<a href='#' data-dismiss="modal" aria-hidden="true">cancel</a>
			</small>
		</div>
	</div>

	<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3>Edit Event</h3>
		</div>
		<div class="modal-body">
			<%= render :partial => 'form' %>
		</div>
		<div class="modal-footer">
			<%= link_to 'Delete', '#', :class => 'btn btn-danger pull-left', :data => { :toggle => 'modal', :target => '#destroyModal' } %>
			<button id="editCompanyEvent" type="submit" class="btn btn-action">Update</button>
			<small>
				<em>or</em>
				<a href='#' data-dismiss="modal" aria-hidden="true">cancel</a>
			</small>
		</div>
	</div>

	<div id="destroyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-body">
			Are you sure you want to delete this event?
		</div>
		<div class="modal-footer">
			<button id="destroyCompanyEvent" type="submit" class="btn btn-action">Delete</button>
			<small>
				<em>or</em>
				<a href='#' id="close_destroy_modal" data-dismiss="modal" aria-hidden="true">cancel</a>
			</small>
		</div>
	</div>
</section>

<div id="company_events" class="timeline-border">
	<div class="line"></div>
	<% @company_events.each do |year, ces| %>
		<div class="year"><span><%= year %></span></div>
		<% ces.each do |ce| %>
			<span id="<%= ce.id %>" class="month"><%= ce.date.strftime("%B") %></span><span></span>
			<%= link_to ce.event.name, edit_company_event_path(ce), :id => ce.id, :class => "event", :remote => true %>
		<% end %>
	<% end %>
</div>

