$("#editModal").modal('hide');

setTimeout(function(){
  $("#company_events").load('/vat #company_events');
}, 1000);

<% @company_event = CompanyEvent.new %>
$("#editModal .modal-body").html("<%= j render :partial => 'form' %>");
$("#new_company_event")[0].reset();
