<script>
    $(document).ready(function() {
        InvoiceClientsAutocomplete.start().installAutocompleteListeners(<%= @clients_json.html_safe %>);
    });

</script>

<%= form_for(@invoice, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @invoice.errors.any? || @client.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong>Invoice saving failed because of <%= pluralize(@invoice.errors.count, "error") %>:</strong>
      <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="perforated">
    <section id="invoice">
      <section id="invoice-details">
        <h1 id="invoice-title-heading">
          Invoice
        </h1>
        <hr/>
        <div class="control-group">
          <%= f.label :number, 'Number & date', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :number, :class => 'input-mini required', :placeholder => 'Number' %>
            <%= f.text_field :date, :class => 'datepicker input-small required', :placeholder => 'Date',
              :value => (@invoice.date.strftime('%d/%m/%Y') unless @invoice.date.nil?) %>
          </div>
        </div>
        <div class="control-group input-append">
          <%= f.label :vat_rate, 'VAT rate', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :vat_rate, :class => 'input-mini', :placeholder => 'VAT',
                             :value => number_with_precision(@invoice.vat_rate, :precision => 2, :strip_insignificant_zeros => true) %>
            <span class="add-on required">%</span>
          </div>
          <span class="help-block">VAT rate is always 0% unless you're VAT registered with HMRC.</span>
        </div>
        <div class="control-group input-append">
          <%= f.label :client_name, 'Your client', :class => 'control-label' %>
          <div class="controls">
            <%= text_field :client, :name, :id => 'client_name_invoice_page',:class => 'required', :placeholder => 'Client company name' %>
            <span class="add-on required">
              <a href="#client-modal" role="button" data-toggle="modal">more</a>
            </span>
          </div>
          <span class="help-block">Start typing to search for clients.</span>
        </div>
        <div class="control-group">
          <label class="control-label">You</label>
          <div class="controls mid-align">
            <a id="check-details-link" href="#self-modal" style="display: none" role="button" data-toggle="modal">Check your details</a>
            <a id="no-details-link" href="#self-modal" style="display: none" role="button" data-toggle="modal" class="label label-important">We're missing your company details. Click here to enter them.</a>
          </div>
        </div>

        <div class="control-group input-append">
          <%= f.label :print_payment_details, 'Payment details on invoice', :class => 'control-label' %>
          <div class="controls">
            <%= f.check_box :print_payment_details, :class => 'checkbox' %>
          </div>
        </div>
      </section>

      <div id="client-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Your client</h3>
        </div>
        <div class="modal-body invoice-client">
          <div class="control-group">
            <%= f.label :client_name, 'Client name', :class => 'control-label' %>
            <div class="controls">
              <%= text_field :client, :name, :class => 'required', :placeholder => 'Client company name' %>
              <%= hidden_field :client, :id, :name => 'client_id' %>
            </div>
            <span class="help-block">Start typing to search for clients.</span>
          </div>
          <div class="control-group">
            <%= f.label :client_vat_code, 'VAT code (opt)', :class => 'control-label' %>
            <div class="controls">
              <%= text_field :client, :vat_code, :placeholder => 'Company VAT code' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :client_address_1, 'Street', :class => 'control-label' %>
            <div class="controls">
              <%= text_field :client, :address_1, :placeholder => 'Street address' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :client_address_2, 'Street 2 (opt)', :class => 'control-label' %>
            <div class="controls">
              <%= text_field :client, :address_2, :placeholder => 'Address continued' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :client_town, 'Town', :class => 'control-label' %>
            <div class="controls">
              <%= text_field :client, :town, :placeholder => 'Town' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :client_postcode, 'Postcode', :class => 'control-label' %>
            <div class="controls">
              <%= text_field :client, :postcode, :class => 'input-small', :placeholder => 'Postcode' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <div id="self-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="self-invoice-modal-label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="self-invoice-modal-label">About you</h3>
        </div>
        <div class="modal-body self-client">
          <div id="invoice-self">
            <div class="control-group">
              <%= f.label :client_vat_code, 'Company name', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :self_name, :class => 'required', :placeholder => 'Your company name' %>
              </div>
              <span class="help-block">Set automatically from company details.</span>
            </div>
            <div class="control-group">
              <%= f.label :self_address_1, 'Street', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :self_address_1, :placeholder => 'Street address' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :self_address_2, 'Street 2 (opt)', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :self_address_2, :placeholder => 'Address continued' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :self_town, 'Town', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :self_town, :placeholder => 'Town' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :self_postcode, 'Postcode', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :self_postcode, :class => 'input-small', :placeholder => 'Postcode' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <hr/>

      <section id="invoice-rows">
        <table class="table table-hover">
          <thead>
          <tr>
            <td>#</td>
            <td>Name</td>
            <td class="numeric">Quantity</td>
            <td class="numeric">Unit (opt)</td>
            <td class="numeric">Unit price</td>
            <td>Total price</td>
          </tr>
          </thead>
          <tbody>
          <tr id="new-invoice-row" class="new-invoice-row invoice-row" style="display: none">
            <td>
              <span class="table-label">Row </span>
              <span class="row-num mid-align"></span>
            </td>
            <td>
              <input type="text" disabled="disabled" name="new_invoice_rows[][name]" placeholder="Type in product/service"
                     class="rw-input required row-name"
                     data-toggle="tooltip" data-placement="top" data-original-title="The name of the product or service being provided to your client (e.g. Consultancy)." />
            </td>
            <td class="numeric">
              <input type="text" disabled="disabled" name="new_invoice_rows[][quantity]" class="rw-input input-mini required numeric row-quantity" placeholder="Qty"
                     data-toggle="tooltip" data-placement="top" data-original-title="The quantity in which the product or service is being provided (e.g. 37.5)." />
            </td>
            <td class="numeric">
              <input type="text" disabled="disabled" name="new_invoice_rows[][unit]" class="rw-input input-mini row-unit numeric" placeholder="Unit"
                     data-toggle="tooltip" data-placement="top" data-original-title="The unit in which the quantity is measured (e.g. hrs)." />
            </td>
            <td class="numeric">
              <input type="text" disabled="disabled" name="new_invoice_rows[][unit_price]" class="rw-input input-mini required numeric row-unit-price" placeholder="£££"
                     data-toggle="tooltip" data-placement="top" data-original-title="The price for when the quantity is 1 (e.g. 39.99)." />
            </td>
            <td>
              <div class="row-net-price mid-align"><%= number_to_currency(0, :unit => '&pound;') %></div>
              <button class="btn btn-danger delete-row" type="button" title="Remove this row from the invoice."
                      data-toggle="tooltip" data-placement="right" data-original-title="Remove this row from the invoice.">-</button>
            </td>
          </tr>
          <% @invoice.invoice_rows.each_with_index do |invoice_row, i| %>
            <%= fields_for 'invoice_rows[]', invoice_row do |rf| %>
              <tr id="invoice-row-<%= i+1 %>" class="invoice-row" data-row="<%= i+1 %>">
                <td>
                  <span class="table-label">Row </span>
                  <span class="row-num mid-align"><%= i+1 %></span>
                </td>
                <td>
                  <%= rf.text_field :name, :class => 'rw-input required row-name', :placeholder => 'Type in product/Service name' %>
                </td>
                <td class="numeric">
                  <%= rf.text_field :quantity, :class => 'rw-input input-mini required numeric row-quantity', :placeholder => 'Qty',
                                    :value => number_with_precision(invoice_row.quantity, :precision => 2, :strip_insignificant_zeros => true) %>
                </td>
                <td class="numeric">
                  <%= rf.text_field :unit, :class => 'rw-input input-mini row-unit numeric', :placeholder => 'Unit' %>
                </td>
                <td class="numeric">
                  <%= rf.text_field :unit_price, :class => 'rw-input input-mini required numeric row-unit-price', :placeholder => '£££',
                                    :value => number_with_precision(invoice_row.unit_price, :precision => 2, :strip_insignificant_zeros => true) %>
                </td>
                <td>
                  <div class="row-net-price mid-align"><%= number_to_currency(invoice_row.net_price || 0, :unit => '&pound;') %></div>
                  <button class="btn btn-danger delete-row" type="button" title="Remove this row from the invoice."
                          data-toggle="tooltip" data-placement="right" data-original-title="Remove this row from the invoice.">-</button>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </section>

      <section id="invoice-row-add-box" class="bottom">
        <button id="add-invoice-row-button" class="btn btn-info" type="button" title="Add another product/service to the invoice."
                data-toggle="tooltip" data-placement="bottom" data-original-title="Add another product/service to the invoice.">
          Add invoice row
        </button>
      </section>

      <section id="invoice-totals-box" class="bottom">
        <table id="totals-table">
          <tr>
            <td>Total VAT @ <span id="invoice-total-vat-rate"><%= @invoice.vat_rate %></span>%</td>
            <td>
              <div id="invoice-vat-total" class="numeric"><%= number_to_currency(@invoice.inv_vat_total || 0, :unit => '&pound;') %></div>
            </td>
          </tr>
          <tr>
            <td>Invoice total</td>
            <td>
              <div id="invoice-grand-total" class="numeric"><%= number_to_currency(@invoice.inv_grand_total || 0, :unit => '&pound;') %></div>
            </td>
          </tr>
        </table>
      </section>

      <section id="invoice-actions">
        <%= f.button('Create', :class => 'btn btn-action', :type => 'submit') if @invoice.new_record? %>
        <%= f.button('Update', :class => 'btn btn-action', :type => 'submit') unless @invoice.new_record? %>
        <small>
          <em>or</em>
          <%= link_to 'cancel', { :action => :index } %>
        </small>
      </section>
    </section>


    </section>
  </div>
<% end %>
