<% content_for :header do %>
  <%= stylesheet_link_tag 'application-invoices', :media => 'all' %>
  <%= javascript_include_tag "invoices" %>
<% end %>

<section id="invoices">

  <div class="invoice invoice-stack new-invoice">
    <%= link_to :action => :new do %>
      <p id="add">+</p>
      <p>Create an invoice</p>
    <% end %>
  </div>

  <% @invoices.each do |invoice| %>
    <div class="invoice">
      <div id="invoice-print">
        <%= link_to '', { :action => :pdf, :id => invoice }, :class=>"active-tooltip", :'data-toggle' => 'tooltip', :title => 'Print this invoice.' %>
      </div>
      <%= link_to edit_invoice_path(invoice) do %>
        <div class="invoice-number">
          <label>Invoice </label># <%= invoice.number %>
        </div>
        <div class="invoice-date">
          <%= invoice.date.strftime('%d/%m/%Y') if invoice.date %>
        </div>
        <div class="invoice-client">
          <%= invoice.client_name %>
        </div>
        <div class="invoice-total">
          <label>Total:</label>
          <span>
            <%= number_to_currency(invoice.inv_grand_total, :unit => "&pound;", :separator => ",", :delimiter => ".") %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>

</section>
