<% content_for :header do %>
  <%= stylesheet_link_tag 'application-invoices', :media => 'all' %>
  <%= javascript_include_tag "invoices" %>
  <script type="text/javascript">$(document).ready(function() {InvoicePage.start();});</script>
<% end %>

<%= render 'form' %>