@import 'scss-lib/_common';

#company-events-menu-item {
  A {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
}

#company-event {
  H3 {
    margin: 10px 0;
    padding: 0;
    font-weight: bold;
    font-family: "proxima-nova", serif;
    font-size: 24px;
    text-align: center;
  }

}

#add_event {
  margin: 20px auto;
  display: block;
  width: 100px;
}

.input_error {
  border: 1px solid red !important;
}

label.message {
  color: red;
  display:none;
}

#new_flat_rate, #flat_rate_1, #flat_rate_2 {
  display:none;
}

#error_explanation_company_event {
  display:none;
}