
@import 'scss-lib/_common';

HTML {
  height: 100%;
}

BODY {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fbf1de url('/assets/patterns/background.png');
}

A {
  text-shadow: #eee 0px 1px 0px;
}

HEADER, ARTICLE, FOOTER SECTION {
  margin: 0 auto;
  width: $page_width;
}

HEADER {
  NAV {
    H1 {
      font-family: Logo;
      font-size: 24px;
      line-height: normal;
      text-align: left;
      float: left;
      padding: 10px 0;
      color: #c00;
      SUP {
        color: #999;
      }
    }
    UL {
      float: right;
      margin: 26px 0 0 0;
      LI {
        float: left;
        list-style: none outside none;
        margin: 0 25px;
        padding: 0;
        &#logout-menu-item {
          A {
            color: #c00;
          }
        }
      }
    }
  }
}

ARTICLE {
  clear: both;
  border: none;
  min-height: 80%;
}

FORM {
  .input-micro {
    width: 30px;
  }
  .numeric {
    text-align: right;
  }
  .mid-align {
    margin-top: 5px;
    display: block;
  }
}

TABLE {
  TR {
    TD {
      &.numeric {
        text-align: right;
        padding-right: 25px;
      }
    }
  }
}

FOOTER {
  margin: 25px 0;
  SECTION {
    text-align: center;
  }
}