<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freemint</title>

  <!--[if IE]>
  <script type="text/javascript">(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()</script>
  <![endif]-->
  <%= stylesheet_link_tag "datepicker", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "home" %>
  <%= stylesheet_link_tag "application-home", :media => "all" %>
  <script type="text/javascript">$(document).ready(function() {HomePage.start();});</script>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <ul>
      <% if current_user.nil? %>
        <li class="menu-item"><a id="login_button" href="#">Login</a></li>
      <% else %>
        <li class="menu-item"><a id="logout_button" href="#">Logout</a></li>
      <% end %>
    </ul>
    <h1 class="logo">freemint <sup>BETA</sup></h1>
  </nav>
</header>

<article>
  <section id="main">
    <section id="main-welcome">
      <h1>
          We're building the best accounting app.
          <strong>On Earth.</strong>
      </h1>
      <p> &mdash; It's FREE, <strong>FOREVER!</strong></p>
    </section>
  </section>

  <section id="signup" class="auth-box">
    <%= form_for @sign_up, :url => "/home/signup", :html => { :class => 'well', :id => 'signup_form' } do |f| %>
      <h2>
        Create a free account now
      </h2>

      <% unless flash[:errors].nil? %>
        <% if flash[:errors].any? %>
          <div id="error_explanation" class="alert alert-error">
            <strong>Signing up failed because of <%= pluralize(flash[:errors].count, "error") %>:</strong>
            <ul>
              <% flash[:errors].full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <div style="display:  none;">
        <%= f.text_field :username, :placeholder => "Your username" %>
      </div>
      <div>
        <%= f.text_field :email, :placeholder => "Your email" %>
      </div>
      <div>
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, :placeholder => "Retype password" %>
      </div>
      <div>
        <%= f.submit "Start", :class => "btn btn-info" %>
      </div>
      <small>
        &mdash; No credit card required, just your email and a password
      </small>
    <% end %>
  </section>

  <section id="login" class="auth-box" style="display: none;">
    <%= form_for @login, :url => "/home/login", :html => { :id => 'login_form', :class => 'well' } do |f| %>
      <h2>
        Already have an account? <small>Login</small>
      </h2>

      <% unless flash[:login_errors].nil? %>
        <% if flash[:login_errors].any? %>
          <div id="error_explanation" class="alert alert-error">
            <strong>Login failed because of <%= pluralize(flash[:login_errors].count, "error") %>:</strong>

            <ul>
              <% flash[:login_errors].full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <div>
        <%= f.text_field :email, :placeholder => "Your email" %>
      </div>
      <div>
        <%= f.password_field :password, :placeholder => "Your password" %>
      </div>
      <div>
        <%= f.submit "Login", :class => "btn btn-success" %>
      </div>
    <% end %>
  </section>

  <section id="more_details">
    <h2><strong>We're adding</strong> <em>exciting features every day</em></h2>
    <p id="subheading">
      This is what we have at the moment, but we're not stopping here
    </p>
    <div id="invoices">
      <div id="invoice_image">
        <%= image_tag 'ipad_inv_black.png', :id => 'ipad_img' %>
        <%= image_tag 'iphone_inv.png', :id => 'iphone_img' %>
      </div>
      <div id="invoice_text">
        <h3>Create and print invoices <em>hassle free</em></h3>
        <p>
          We believe it shouldn't cost anything to invoice your clients.
          Your main focus should be on your <strong><em>work</em></strong>!
        </p>
        <p>
          Just login to <strong><em>freemint</em></strong> and quickly create
          and print your invoice. The PDF format is great for sending in invoices
          by email and making sure your customer pays it as soon as possible.
        </p>
      </div>
      <div style="clear:both"></div>
    </div>
  </section>
</article>

<footer>
  <section>
    <small>&copy; 2013. All rights reserved.</small>
  </section>
</footer>

</body>
</html>