@import 'scss-lib/_common';

#company-menu-item {
  @include selected-menu-item;
}

#company {
  H1#company-title-heading {
    @include title;
  }
  .control-group {
    margin-bottom: 10px;
    .control-label {
      width: 410px;
    }
    .controls {
      margin-left: 430px;
    }
  }
  #company-actions {
    clear: both;
    //padding-top: 50px;
    text-align: center;
    SMALL {
      padding: 0 0 0 7px;
    }
  }

  #vat_timeline {
    line-height: 30px;
  }
}