@import 'scss-lib/_common';

#expenses-menu-item {
  A {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
}

#expenses {
  .expense {
    @include border-box;
    width: 200px;
    height: 150px;
    background-color: #fff;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    padding: 10px;
    float: left;
    margin: 20px;
    &:hover {
      -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
      box-shadow: 0 0 12px rgba(0,0,0,0.2);
      -moz-transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }
    A {
      display: block;
      height: 100%;
      text-decoration: none;
      text-shadow: none;
      color: #333;
      .expense-reference {
        font-size: 120%;
        LABEL {
          font-size: 120%;
          display: inline;
          font-weight: bold;
        }
      }
      .expense-date {
        color: #999;
      }
      .expense-amount {
        margin-top: 73px;
        font-family: monospace;
        text-align: right;
        LABEL {
          display: inline;
        }
        SPAN {
          font-weight: bold;
        }
      }
    }
    #expense-print {
      float: right;
      margin: -15px -19px;
      A {
        background-image: url('/assets/print_hover.png');
        background: transparent url('/assets/print.png');
        display: block;
        width: 75px;
        height: 50px;
        &:hover {
          background-image: url('/assets/print_hover.png');
        }
      }
    }
  }
  .expense-stack {
    @include border-box;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #fff;
    float: left;
    &::before, &::after {
      content: "";
      width: 200px;
      height: 150px;
      position: absolute;
      left: -2px;
      top: -5px;
      z-index: -1;
      -moz-transform: rotate(-2deg);
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    &::after {
      left: 0;
      -moz-transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }
    &, &::before, &::after {
      background: #fff;
      -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
  }
  .new-expense {
    @include border-box;
    &:hover {
      -moz-transform: none;
      -webkit-transform: none;
      transform: none;
    }
    A {
      display: block;
      height: 100%;
      text-decoration: none;
      text-shadow: none;
      color: #08c;
      &:hover {
        color: #005580;
      }
      P {
        text-align: center;
        margin-top: -25px;
        &#add {
          font-size: 80px;
          font-weight: bold;
          line-height: 128px;
          margin-top: -22px;
        }
      }
    }
  }
}

#expense {
  background-color: #fff;
  padding: 50px;
  H1#expense-title-heading, H3#provider-title-heading {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: "proxima-nova", serif;
    text-align: center;
  }
  H2, H3 {
    margin: 10px 0;
    padding: 0;
    font-weight: bold;
    font-family: "proxima-nova", serif;
    font-size: 24px;
    text-align: center;
  }
  HR {
    margin: 30px 0;
  }
  .control-group {
    margin-bottom: 10px;
  }
  #expense-details, #expense-provider {
    .control-label {
      width: 308px;
    }
    .controls {
      margin-left: 328px;
    }
  }
  .help-block {
    color: #999;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 328px;
  }

  #expense-amount-box {
    float: right;
    margin: 18px 50px;
    #amount-table {
      border-top: solid 1px #eee;
      TD {
        font-weight: 300;
        padding: 9px 15px;
        &:first-child {
          text-align: right;
        }
        &:last-child {
          font-weight: bold;
          width: 85px;
        }
      }
    }
  }
  #expense-actions {
    clear: both;
    padding-top: 50px;
    text-align: center;
    SMALL {
      padding: 0 0 0 7px;
    }
  }
}

.input_error {
  border: 1px solid red !important;
}

#error_explanation_expense {
  display:none;
}

.perforated {
  background-color: transparent;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 0px 43px;
  -moz-border-image: url('/assets/patterns/perforated.png') 0 43 round;
  -webkit-border-image: url('/assets/patterns/perforated.png') 0 43 round;
  -o-border-image: url('/assets/patterns/perforated.png') 0 43 round;
  border-image: url('/assets/patterns/perforated.png') 0 43 round;
}
