
<%= form_for(@expense, :html => { :class => 'form-horizontal' }) do |f| %>

	<% if @expense.errors.any? %>
		<div id="error_explanation" class="alert alert-error">
			<strong>Expense saving failed because of <%= pluralize(@expense.errors.count, "error") %>:</strong>
			<ul>
				<% @expense.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
		
	<div id="error_explanation_expense" class="alert alert-error">
		<strong></strong>
		<ul>
		</ul>
	</div>

	<div class="perforated">
		<section id="expense">
			<section id="expense-details">
				<h1 id="expense-title-heading">
					Expense
				</h1>
				<hr/>
				<div class="row-fluid">
					<div class="control-group">
						<%= f.label :reference, 'Reference Number & date', :class => 'control-label' %>
						<div class="controls">
							<%= f.text_field :reference, :class => 'input-mini required', :placeholder => 'Reference number' %>
							<%= f.text_field :date, :class => 'datepicker input-small required', :placeholder => 'Date',
							 	:value => (@expense.date.strftime('%d/%m/%Y') unless @expense.date.nil?)	%>
						</div>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="control-group">
						<%= f.label :description, 'Description', :class => 'control-label' %>
						<div class="controls">
							<%= f.text_field :description, :class => 'input-xlarge', :placeholder => 'Description' %>
						</div>
					</div>
				</div>				
				
				<div class="row-fluid">
					<div class="control-group input-prepend">
						<%= f.label :amount, 'Amount', :class => 'control-label' %>
						<div class="controls">
							<span class="add-on required">£</span>
							<%= f.text_field :amount, :class => 'input-medium', :placeholder => 'Amount',
															 :value => number_with_precision(@expense.amount, :precision => 2, :strip_insignificant_zeros => true) %>
						</div>
            <span class="help-block">This is the value of the expense without VAT.</span>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="control-group input-prepend">
						<%= f.label :vat, 'VAT', :class => 'control-label' %>
						<div class="controls">
							<span class="add-on required">£</span>
							<%= f.text_field :vat, :class => 'input-medium', :placeholder => 'VAT',
															 :value => number_with_precision(@expense.vat, :precision => 2, :strip_insignificant_zeros => true) %>
						</div>
            <span class="help-block">This is the total VAT of the expense.</span>
					</div>
				</div>
			</section> 
			
			<br><br>
	
			<section id="expense-provider">
				<h3 id="provider-title-heading">
					More details (optional)
				</h3>
				<br>
				<div class="row-fluid">
					<div class="control-group">
						<%= f.label :provider, 'Provider name', :class => 'control-label' %>
						<div class="controls">
							<%= f.text_field :provider, :class => 'input-xlarge', :placeholder => 'Provider Name' %>
						</div>
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="control-group input-append">
						<%= f.label :provider_vat_regno, 'Provider VAT registration number', :class => 'control-label' %>
						<div class="controls">
							<%= f.text_field :provider_vat_regno, :class => 'input-xlarge', :placeholder => 'Provider VAT registration number' %>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="control-group">
						<%= f.label :justification, 'Business justification', :class => 'control-label' %>
						<div class="controls">
							<%= f.text_area :justification, :rows => 5, :class => 'input-xlarge' , :placeholder => 'Business justification' %>
						</div>
					</div>
				</div>
			</section> 
			
			<section id="expense-actions">
				<%= f.button('Create', :class => 'btn btn-action', :type => 'submit', :id => "submitExpense") if @expense.new_record? %>
				<%= f.button('Update', :class => 'btn btn-action', :type => 'submit', :id => "submitExpense") unless @expense.new_record? %>
				<small>
					<em>or</em>
					<%= link_to 'cancel', { :action => :index } %>
				</small>
			</section>

		</section> 
	</div>
<% end %>