<% content_for :header do %>
	<%= stylesheet_link_tag 'application-expenses', :media => 'all' %>
  <%= javascript_include_tag "expenses" %>
	<script type="text/javascript">$(document).ready(function() {ExpensePage.start();});</script>
<% end %>

<%= render 'form' %>