<% content_for :header do %>
	<%= stylesheet_link_tag 'application-expenses', :media => 'all' %>
<% end %>

<section id="expenses">
	
	<div class="expense expense-stack new-expense">
		<%= link_to :action => :new do %>
			<p id="add">+</p>
			<p>Add an expense</p>
		<% end %>
	</div>

	<% @expenses.each do |expense| %>
		<div class="expense">
			<%= link_to edit_expense_path(expense) do %>
				<div class="expense-reference">
					<label>Expense </label># <%= expense.reference %>
				</div>
				<div class="expense-date">
					<%= expense.date.strftime('%d/%m/%Y') if expense.date %>
				</div>
				<div class="expense-amount">
					<label>Amount: </label>
					<span>
						<%= number_to_currency(expense.amount, :unit => "&pound;", :separator => ".", :delimiter => ',') %>
					</span>
				</div>
			<% end %>
		</div>
	<% end %>
</section>
