@import "bootstrap";

$mobile_media_q: "max-width: 767px";
$tablet_media_q: "max-width: 1023px";
$default_media_q: "min-width: 1024px";

$page_width: 960px;
$page_width_tablet: 740px;
$page_width_mobile: 100%;

@mixin lead {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 20px;
}

@mixin border-box {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

@mixin selected-menu-item {
  A {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
}

@mixin title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "proxima-nova", serif;
  text-align: center;
}

.btn-action {
  background-color: #F9A732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #FBB450, #F89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0);
  border-color: #F89406 #F89406 #AD6704;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-action:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color: #F89406;
  color: white;
}
.btn-action .caret {
  border-bottom-color: white;
  border-top-color: white;
}
.btn-action.dropdown-toggle {
  background-color: #F89406;
}
.btn-action:active, .btn-action.disabled, .btn-action[disabled] {
  background-color: #F89406;
  color: white;
}
