<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freemint</title>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />-->

  <!--[if IE]>
  <script type="text/javascript">(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()</script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "datepicker", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <%= javascript_include_tag "accounting" %>
  <%= csrf_meta_tags %>
  <!--<script type="text/javascript">$(document).ready(function() {Common.start();});</script>-->
  <%= yield(:header) %>
</head>
<body>

  <header>
    <nav>
      <h1 class="logo">freemint <sup>BETA</sup></h1>
      <ul>
        <li id="invoices-menu-item" class="menu-item"><%= link_to 'Invoices', { :controller => :invoices } %></li>
        <li id="expenses-menu-item" class="menu-item"><%= link_to 'Expenses', { :controller => :expenses } %></li>
        <li id="company-menu-item" class="menu-item"><%= link_to 'Company', { :controller => :companies } %></li>
        <li id="logout-menu-item" class="menu-item"><%= link_to 'Logout', { :controller => :home, :action => :logout } %></li>
      </ul>
    </nav>
  </header>

  <article>
    <section id="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
  </article>

  <footer>
    <section><small>&copy; 2013. All rights reserved.</small></section>
  </footer>

</body>
</html>